@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<section class="parallax_window_in short" data-parallax="scroll" data-image-src="img/subheader_in_3.jpg" data-natural-width="1400" data-natural-height="350">
    <div id="sub_content_in">
        <div class="container">
            <h1>About Us</h1>
            <p>"Usu habeo equidem sanctus no ex melius"</p>
        </div>
    </div>
</section><!-- End section -->

<main>
    <div class="container margin_60">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div id="intro">
                    <p><img src="img/about_1.jpg" alt="" class="img-fluid"></p>
                    <h2>"Home Security experts since 1998"</h2>
                    <p class="lead">
                        Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris hendrerit ex sea. Duo legere evertitur an, pri hinc doctus definitiones an, vix id dicam putent. Ius ornatus instructior in.
                    </p>
                </div>
            </div>
        </div><!-- End row -->

        <hr>

        <div class="row justify-content-between">
            <div class="col-md-4">
                <h3 class="mt-3">Some words about us</h3>
                <p>
                    Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris hendrerit ex sea. Duo legere evertitur an, pri hinc <strong>doctus definitiones</strong> an, vix id dicam putent. Ius ornatus.
                </p>
                <p>
                    Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris hendrerit ex sea. Duo legere evertitur an, pri hinc <strong>doctus definitiones</strong> an, vix id dicam putent. Ius ornatus.
                </p>
                <h4>Mission</h4>
                <p>
                    Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris hendrerit ex sea. Duo legere evertitur an, pri hinc <strong>doctus definitiones</strong> an, vix id dicam putent. Ius ornatus.
                </p>
                <p>
                    Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris hendrerit ex sea. Duo legere evertitur an, pri hinc <strong>doctus definitiones</strong> an, vix id dicam putent. Ius ornatus.
                </p>
                <h4>Filosofy</h4>
                <p>
                    Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel. Libris hendrerit ex sea. Duo legere evertitur an, pri hinc <strong>doctus definitiones</strong> an, vix id dicam putent. Ius ornatus.
                </p>
            </div>
            <div class="col-md-7">
                <ul class="feat" id="about">
                    <li>
                        <i class="icon_check_alt2"></i>
                        <h4>Professional Service</h4>
                        <p>
                            Eum purto epicurei cotidieque at, ius luptatum invidunt no, vim at sint pertinacia repudiandae. Ad cum dicant laboramus delicatissimi, ex has nonumes explicari prodesset, brute tincidunt conclusionemque no has. Sit ullum latine ei. Ius id adhuc iriure torquatos.
                        </p>
                    </li>
                    <li>
                        <i class="icon_check_alt2"></i>
                        <h4>Affordable Prices</h4>
                        <p>
                            Ad cum dicant laboramus delicatissimi, ex has nonumes explicari prodesset, brute tincidunt conclusionemque no has. Sit ullum latine ei. Ius id adhuc iriure torquatos. Justo prompta senserit eos cu, omnesque posidonium liberavisse pri in.
                        </p>
                    </li>
                    <li>
                        <i class="icon_check_alt2"></i>
                        <h4>Great Support</h4>
                        <p>
                            Eum purto epicurei cotidieque at, ius luptatum invidunt no, vim at sint pertinacia repudiandae. Ad cum dicant laboramus delicatissimi, ex has nonumes explicari prodesset, brute tincidunt conclusionemque no has. Sit ullum latine ei. Justo prompta senserit eos cu, omnesque posidonium liberavisse pri in.
                        </p>
                    </li>
                    <li>
                        <i class="icon_check_alt2"></i>
                        <h4>Service Warranty</h4>
                        <p>
                            Ad cum dicant laboramus delicatissimi, ex has nonumes explicari prodesset, brute tincidunt conclusionemque no has. Sit ullum latine ei. Ius id adhuc iriure torquatos. Justo prompta senserit eos cu, omnesque posidonium liberavisse pri in.
                        </p>
                    </li>
                </ul>
            </div>
        </div><!-- End row -->

        <hr>

        <div class="text-center">
            <h2>Our Professional Team</h2>
            <p class="lead">
                Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel.
                <br> Libris hendrerit ex sea. Duo legere evertitur an, pri hinc doctus definitiones an, vix id dicam putent. Ius ornatus instructior in.
            </p>
        </div>

        <!--Team Carousel -->
        <div class="row">
            <div class="owl-carousel owl-theme team-carousel">

                <div class="team-item">
                    <div class="team-item-img">
                        <img src="img/team/team-1.jpg" alt="">
                        <div class="team-item-detail">
                            <div class="team-item-detail-inner">
                                <h4>Mitchell Young</h4>
                                <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                <ul class="social">
                                    <li><a href="#0"><i class="icon-facebook"></i></a></li>
                                    <li><a href="#0"><i class="icon-twitter"></i></a></li>
                                    <li><a href="#0"><i class="icon-google"></i></a></li>
                                    <li><a href="#0"><i class="icon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-item">
                    <div class="team-item-img">
                        <img src="img/team/team-2.jpg" alt="">
                        <div class="team-item-detail">
                            <div class="team-item-detail-inner">
                                <h4>Ronald Green</h4>
                                <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                <ul class="social">
                                    <li><a href="#0"><i class="icon-facebook"></i></a></li>
                                    <li><a href="#0"><i class="icon-twitter"></i></a></li>
                                    <li><a href="#0"><i class="icon-google"></i></a></li>
                                    <li><a href="#0"><i class="icon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-item">
                    <div class="team-item-img">
                        <img src="img/team/team-3.jpg" alt="">
                        <div class="team-item-detail">
                            <div class="team-item-detail-inner">
                                <h4>Carl Peppard</h4>
                                <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                <ul class="social">
                                    <li><a href="#0"><i class="icon-facebook"></i></a></li>
                                    <li><a href="#0"><i class="icon-twitter"></i></a></li>
                                    <li><a href="#0"><i class="icon-google"></i></a></li>
                                    <li><a href="#0"><i class="icon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-item">
                    <div class="team-item-img">
                        <img src="img/team/team-4.jpg" alt="">
                        <div class="team-item-detail">
                            <div class="team-item-detail-inner">
                                <h4>Sandra Bullock</h4>
                                <p>Similique sunt culpa qui officia deserunt mollitia animi dolorum fuga.</p>
                                <ul class="social">
                                    <li><a href="#0"><i class="icon-facebook"></i></a></li>
                                    <li><a href="#0"><i class="icon-twitter"></i></a></li>
                                    <li><a href="#0"><i class="icon-google"></i></a></li>
                                    <li><a href="#0"><i class="icon-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--End Team Carousel-->
    </div><!-- End container -->

</main><!-- End main -->