@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}



<section class="parallax_window_in short" data-parallax="scroll" data-image-src="img/subheader_in_3.jpg" data-natural-width="1400" data-natural-height="350">
    <div id="sub_content_in">
        <div class="container">
            <h1>Contact us</h1>
            <p>"Usu habeo equidem sanctus no ex melius"</p>
        </div>
    </div>
</section><!-- End section -->

<main>
    <div class="container margin_60_35">
        <div class="row">

            <div class="col-lg-9">


                <div id="message-contact"></div>
                <form method="post" action="assets/contact.php" id="contactform">
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>First name</label>
                                <input type="text" class="form-control" id="name_contact" name="name_contact">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Last name</label>
                                <input type="text" class="form-control" id="lastname_contact" name="lastname_contact">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" id="email_contact" name="email_contact" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Phone number</label>
                                <input type="text" id="phone_contact" name="phone_contact" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Your message</label>
                                <textarea rows="5" id="message_contact" name="message_contact" class="form-control" style="height:100px;"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Are you human? 3 + 1 =</label>
                                <input type="text" id="verify_contact" class=" form-control">
                            </div>
                            <input type="submit" value="Submit" class="btn_1 green medium add_bottom_30" id="submit-contact" />
                        </div>
                    </div>
                </form>
            </div><!-- End col-md-9 -->

            <div class="col-lg-3">
                <div class="box_style_2">
                    <h5 class="mt-2">Address</h5>
                    <ul>
                        <li><strong>4 West 31st Street New York</strong><br>10001 United States</li>
                    </ul>
                    <h5>Contacts</h5>
                    <ul>
                        <li><strong>H24 Help center</strong><br><a href="tel://003823932342">0038 23932342</a></li>
                        <li><strong>General info</strong><br><a href="tel://003823932342">0038 23932342</a><br><small>Monday to Friday 9am - 7pm</small></li>
                        <li><strong>General info</strong><br><a href="mailto:info@domain.com">info@domain.com</a></li>
                        <li><strong>Request a callback</strong><p class="nopadding">Id pri consul aeterno petentium. Vivendo abhorreant et vim, et quot persecuti mel.<br><a href="mailto:booking@domain.com">booking@domain.com</a></p></li>
                    </ul>
                </div>
                <div class="quote_banner"><a href="quotation.html">Need a quotation?</a></div>
            </div><!-- End col-md-3 -->
        </div><!-- End row -->
    </div><!-- End container -->
</main><!-- End main -->
