@using EntityLayer.Entities
@model List<Category>

<div class="box_style_1">
    <div class="widget">
        <h5>Categories</h5>
        <ul id="cat_nav">
            @foreach (var item in Model)
            {
                <li><a href="#">@item.CategoryName</a></li>
            }
        </ul>
    </div>
</div>