@model EntityLayer.Entities.Blog

@{
    ViewData["Title"] = "AddBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["ActivePage"] = "AddBlog";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="col-md-9">
            <div class="card mb-12">
                <h5 class="card-header">New Blog</h5>
                <form method="post" enctype="multipart/form-data" class="card-body">
                    <div>
                        <label for="defaultFormControlInput" class="form-label">Blog Title</label>
                        <input type="text" class="form-control" name="BlogTitle" />
                    </div>
                    <div>
                        <label for="defaultFormControlInput" class="form-label">Category</label>
                        <select class="form-control" name="CategoryID">
                            @foreach (var item in ViewBag.CategoryList)
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        </select>
                    </div>
                    <div>
                        <label for="defaultFormControlInput" class="form-label">Blog Content</label>
                        <textarea type="text" class="form-control" name="BlogContent" id="editor"></textarea>
                    </div>
                    <div>
                        <label for="defaultFormControlInput" class="form-label">Blog Image</label>
                        <input type="file" class="form-control" id="imageInput" name="BlogImage" />
                    </div>
                    <div class="mt-2">
                        <button class="btn btn-primary" type="submit">Kaydet</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card mb-12">
                <img id="imagePreview" style="max-width:400px;">
            </div>
        </div>
    </div>
</div>
<script>
    var input = document.getElementById('imageInput');
    var preview = document.getElementById('imagePreview');
    input.addEventListener('change', function () {
        var file = input.files[0];
        var reader = new FileReader();
        reader.onload = function (e) {
            preview.src = e.target.result;
        };
        reader.readAsDataURL(file);
    });
</script>
