
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NotAuthorized</title>
</head>
<body>
    <h1>Yetkiniz bu sayfaya erişmek için yeterli değildir.</h1>
</body>
</html>
