
<div id="top_line">
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-none d-md-block">
                <span id="tag_line">"Experts since 1998"</span>
            </div>
            <div class="col-md-9">
                <ul id="top_links">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a style="color:green; font-weight:bold; font-size:13px;">Hoşgeldiniz @User.Identity.Name</a></li>
                        <li><a href="/Admin/Dashboard/Index/" style="color:darkgreen; font-weight:bold; font-size:13px;">Dashboard</a></li>
                        <li>
                            <form method="post" asp-area="" asp-controller="Login" asp-action="Logout">
                                <button class="dropdown-item" style="color:red; font-weight:bold; font-size:13px;" type="submit">
                                    @Html.AntiForgeryToken()
                                    <span class="align-middle">Log Out</span>
                                </button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li><a style="color:red; font-weight:bold; font-size:13px;" href="/Login/Login/">Login</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex align-items-center pt-3 pb-3">
        <div class="col-lg-3 col-6">
            <div id="logo">
                <a href="/Default/Index/"><img src="~/html/img/logo.png" width="190" height="44" alt="Home Alarms"></a>
            </div>
        </div>
        <nav class="col-lg-9 col-6 position-relative">
            <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu mobile</span></a>
            <div class="main-menu">
                <div id="header_menu">
                    <img src="~/html/img/logo.png" width="190" height="44" alt="Home Alarms">
                </div>
                <a href="#" class="open_close" id="close_in"><i class="icon_close"></i></a>
                <ul>
                    <li><a href="/Default/Index/">Home</a></li>
                    <li><a href="/Default/Contact/">Contact us</a></li>
                    <li><a href="/Default/About/">About Us</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>