<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="HOMEALARMS - Alarms and security systems site template">
<meta name="author" content="Ansonika">
<title>HOMEALARMS - Alarms and security systems site template</title>

<link rel="shortcut icon" href="img/favicon.ico" type="~/html/image/x-icon">
<link rel="apple-touch-icon" type="image/x-icon" href="~/html/img/apple-touch-icon-57x57-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/html/img/apple-touch-icon-72x72-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/html/img/apple-touch-icon-114x114-precomposed.png">
<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/html/img/apple-touch-icon-144x144-precomposed.png">

<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

<link href="~/html/css/bootstrap.min.css" rel="stylesheet">
<link href="~/html/css/style.css" rel="stylesheet">
<link href="~/html/css/menu.css" rel="stylesheet">
<link href="~/html/css/responsive.css" rel="stylesheet">
<link href="~/html/css/elegant_font/elegant_font.min.css" rel="stylesheet">
<link href="~/html/css/fontello/css/fontello.min.css" rel="stylesheet">
<link href="~/html/css/magnific-popup.min.css" rel="stylesheet">

<link href="~/html/css/blog.css" rel="stylesheet">

<link href="~/html/css/custom.css" rel="stylesheet">