<!DOCTYPE html>
<html lang="en">
<head>
	@await Html.PartialAsync("~/Views/Shared/DefaultLayoutPartial/_HeadPartial.cshtml")
</head>
<body>
	<header>
		@await Html.PartialAsync("~/Views/Shared/DefaultLayoutPartial/_HeaderPartial.cshtml")
	</header>
	<main>
		@RenderBody()
	</main>
	<footer>
		@await Html.PartialAsync("~/Views/Shared/DefaultLayoutPartial/_FooterPartial.cshtml")
	</footer>
	@await Html.PartialAsync("~/Views/Shared/DefaultLayoutPartial/_ScriptPartial.cshtml")
</body>
</html>
